html{
    background-color: #E2E0C8;
}

.layout {
    width: 100%;
  
    display: grid;
    grid:
      "Header body" 100%
      / 45% 55%;
    gap: 8px;
}
  
.Header { 
    grid-area: Header; 
}

.body { 
    grid-area: body;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:space-evenly; 
    align-items:end;
}

.header h1{
    font-family: 'JetBrains Mono';
    font-size:7vw;
    color:#5C7285;
    padding-left: 10%;
    margin-top:5%;
}

.header p{
    padding-left: 10%;
    font-family: 'JetBrains Mono Light';
    font-size:2vw;
    color:#5C7285;
}

.header button{
    font-family: 'JetBrains Mono';
    background-color:#5C7285;
    color:#A7B49E;
    font-size:2.6vw;
    font-weight:bold;
    padding-left:5%;
    padding-right:5%;
    padding-top:1.5%;
    padding-bottom:1.5%;
    border-radius:15px;
    border:1px solid #5C7285;
    margin-left: 10%;
    margin-top:-5%
}

.body div{
    font-family:'JetBrains Mono';
    font-size:3.5vw;
    color:#A7B49E;
    background-color:#5C7285;
    padding-right:3%;
    padding-left:3%;
    padding-top:2%;
    padding-bottom:2%;
}

.option1{
    margin-top:3%;
}
.option2{
    margin-top:3%;
}
.option3{
    margin-top:3%;
}

.border-frame {
    position: relative;
    width: 100%;
    height: 100%;
}

.border-frame::before, .border-frame::after, .border-frame div::before, .border-frame div::after {
    content: "";
    position: absolute;
    width: 7.8vh;
    height: 7.8vh;
    border: 0.4vh solid #5C7285;
}

.border-frame::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.border-frame::after {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

.border-frame div::before {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.border-frame div::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}